@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
.snowflake {
  position: fixed;
  top: -10%; /* Inicia por encima de la pantalla */
  width: 15px;
  height: 15px;
  opacity: 0.8;
  animation: fall linear infinite; /* Hace que los copos caigan */
  will-change: transform, opacity;
  z-index: 45 !important;
}

@keyframes fall {
  0% {
    transform: translateX(0) translateY(-10vh) rotate(0deg); /* Empieza desde arriba */
  }
  50% {
    transform: translateX(20px) translateY(50vh) rotate(180deg); /* Se mueve a la mitad */
  }
  100% {
    transform: translateX(-20px) translateY(110vh) rotate(360deg); /* Termina en la parte inferior */
    opacity: 0.5; /* Se desvanece mientras cae */
  }
}

@font-face {
  font-family: 'Lato';
  font-weight: 900;
  src: url('../public/fonts/Lato-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-weight: 700;
  src: url('../public/fonts/Lato-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  src: url('../public/fonts/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-weight: 400;
  src: url('../public/fonts/Lato-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-weight: 200;
  src: url('../public/fonts/Lato-Thin.ttf') format('truetype');
}
@font-face {
  font-family: 'Romantic-lovely';
  font-weight: 200;
  src: url('../public/fonts/Romantic-lovely.ttf') format('truetype');
}
@font-face {
  font-family: 'GreatVibes-Regular2';
  font-weight: 200;
  src: url('../public/fonts/GreatVibes-Regular2.ttf') format('truetype');
}

@font-face {
  font-family: 'GreatVibes-Regular';
  font-weight: 900;
  src: url('../public/fonts/GreatVibes-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'PlayfairDisplayt';
  font-weight: 200;
  src: url('../public/fonts/PlayfairDisplayt.ttf') format('truetype');
}

@font-face {
  font-family: 'Playlist';
  font-weight: 100;
  src: url('../public/fonts/Playlist.ttf') format('truetype');
}
@font-face {
  font-family: 'Playlist-script';
  font-weight: 100;
  src: url('../public/fonts/Playlist-script.otf') format('truetype');
}
@font-face {
  font-family: 'AlexBrush-Regular';
  font-weight: 100;
  src: url('../public/fonts/AlexBrush-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Tangerine-Regular';
  font-weight: 100;
  src: url('../public/fonts/Tangerine-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'DynaPuff';
  font-weight: 100;
  src: url('../public/fonts/DynaPuff.ttf') format('truetype');
}
@font-face {
  font-family: 'Merienda';
  font-weight: 100;
  src: url('../public/fonts/Merienda.ttf') format('truetype');
}
.spinner {
  position: relative;
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.spinner::before,
.spinner::after {
  content: "";
  position: absolute;
  border-radius: inherit;
}

.spinner::before {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, #F7A701 0%, #002340 50%);
  animation: spin .3s infinite linear;
}

.spinner::after {
  width: 90%;
  height: 90%;
  background-color: #002340;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


#contentType1 p {
  @apply text-justify text-lg text-black dark:text-dark-white-primary transition-colors duration-500;
}

#contentType2 p {
  @apply text-justify text-black dark:text-dark-white-primary transition-colors duration-500;
}

/* Estilizado del ul */
#contentType5 ul {
  @apply pl-0 list-none flex flex-col gap-5;
}

/* Estilizado de los elementos li principales */
#contentType5 > ul > li {
  @apply rounded-lg mb-4;
}

/* Ocultar las sublistas */
#contentType5 ul ul {
  @apply pl-6 h-auto hidden transition-all ease-out overflow-hidden;
}

/* Estilizado de los elementos li secundarios */
#contentType5 ul li ul li {
  @apply border-x border-b p-5 flex flex-row gap-5 justify-between items-center bg-white dark:shadow-none dark:bg-transparent hover:bg-[#f1f1f1] dark:hover:bg-default-blue-primary;
}

/* Estilizado al pasar el mouse sobre los elementos li principales */
#contentType5 > ul > li:hover {
  @apply bg-transparent h-auto;
}

/* Mostrar la sublista si el contenedor está abierto */
#contentType5 > ul > li.open > ul {
  @apply block transition-all duration-500 ease-out;
}

/* Estilizado de los títulos de las unidades */
#contentType5 > ul > li > strong {
  @apply text-black cursor-pointer bg-default-white-primary dark:bg-transparent dark:text-default-white-primary rounded-t-lg rounded-bl-lg shadow-lg border p-5 hover:border-default-blue-primary hover:bg-default-blue-primary dark:hover:bg-dark-hellow-primary dark:hover:border-dark-hellow-primary hover:text-default-white-primary fill-default-blue-primary dark:fill-default-hellow-primary hover:fill-default-white-primary dark:hover:fill-dark-white-primary transition-all duration-300 flex flex-row gap-5 justify-between items-center;
}

.rotate-accordion-icon {
  @apply rotate-180 transition-all duration-300 ease-out;
}
.disableButton {
  @apply disabled:bg-gray-400 disabled:text-gray-200 dark:disabled:bg-gray-400 dark:disabled:text-gray-200;
}
.input-primary {
  @apply w-full h-[45px] rounded-lg border border-default-blue-primary dark:border-none bg-transparent dark:bg-dark-blue-1 text-default-blue-primary dark:text-white focus:ring-default-blue-primary focus:border-default-blue-primary dark:focus:border-default-blue-primary dark:focus:border dark:focus:ring-default-hellow-primary focus:text-default-blue-primary;
}
.select-primary {
  @apply h-[45px] rounded-lg border border-default-blue-primary dark:border-none bg-transparent dark:bg-dark-blue-1 text-default-blue-primary dark:text-white focus:ring-default-blue-primary focus:border-default-blue-primary dark:focus:border-default-blue-primary dark:focus:ring-default-hellow-primary focus:text-default-blue-primary overflow-auto;
}
.input-primary-dark {
  @apply w-full h-[45px] rounded-lg border border-default-hellow-primary bg-transparent dark:bg-dark-blue-4 text-default-blue-primary dark:text-white focus:ring-default-blue-primary focus:border-default-blue-primary dark:focus:border-default-blue-primary dark:focus:border dark:focus:ring-default-hellow-primary focus:text-default-blue-primary;
}
.text-area-primary {
  @apply w-full rounded-lg border border-default-blue-primary dark:border-none bg-transparent dark:bg-dark-blue-1 text-default-blue-primary dark:text-white focus:ring-default-blue-primary focus:border-default-blue-primary dark:focus:border-default-blue-primary dark:focus:border dark:focus:ring-default-blue-primary focus:text-default-blue-primary;
}
